:root {
  --brandpurple-05: #aa14f0;
  --brandpurple-10: #bc8cf2;
  --brandwhite: #eee;
  --branddrak: #000000;
}

$brandpurple-05: var(--brandpurple-05);
$brandpurple-10: var(--brandpurple-10);
$brandwhite: var(--brandwhite);
$branddrak: var(--branddrak);
